In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("suicidios_2010_a_2019_cleaned.csv")

In [5]:
df.head()

,Unnamed: 0,estado,ano,mes,DTOBITO,SEXO,RACACOR,CAUSABAS,LOCOCOR,age
0,1,AC,2010,1,2010-01-31,Masculino,Parda,X780,Via pública,11.0
1,2,SC,2010,4,2010-04-17,Masculino,Branca,X700,Domicílio,23.0
2,3,SC,2010,4,2010-04-21,Feminino,Branca,X700,Domicílio,43.0
3,4,SC,2010,4,2010-04-25,Masculino,Branca,X749,Hospital,22.0
4,5,SC,2010,5,2010-05-05,Feminino,Parda,X700,Domicílio,37.0

# Unique Table Values

## State

In [60]:
unique_data_state = df["estado"].unique()
print(unique_data_state)

['AC' 'SC' 'RO' 'RR' 'RS' 'SP' 'RJ' 'RN' 'SE' 'TO' 'MT' 'MA' 'GO' 'ES'
 'MG' 'MS' 'DF' 'BA' 'AM' 'AL' 'AP' 'CE' 'PI' 'PE' 'PR' 'PA' 'PB']

## Race

In [13]:
unique_data_race = df["RACACOR"].unique()
print(unique_data_race)

['Parda' 'Branca' nan 'Preta' 'Indígena' 'Amarela']

## Year

In [7]:
unique_data_year = df["ano"].unique()
print(unique_data_year)

[2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]

## Month

In [8]:
unique_data_month = df["mes"].unique()
print(unique_data_month)

[ 1  4  5  3  9  8  2 10 11 12  6  7]

## Gender

In [10]:
unique_data_gender = df["SEXO"].unique()
print(unique_data_gender)

['Masculino' 'Feminino' nan]

## Causes Of Death

In [12]:
unique_data_causes_of_death = df["CAUSABAS"].unique()
print(unique_data_causes_of_death)

['X780' 'X700' 'X749' 'X744' 'X720' 'X709' 'X680' 'X689' 'X710' 'X701'
 'X718' 'X708' 'X704' 'X610' 'X792' 'X725' 'X794' 'X729' 'X614' 'X714'
 'X699' 'X690' 'X840' 'X800' 'X806' 'X760' 'X740' 'X707' 'X702' 'X705'
 'X649' 'X711' 'X830' 'X790' 'X719' 'X739' 'X804' 'X692' 'X788' 'X659'
 'X682' 'X612' 'X622' 'X730' 'X619' 'X834' 'X722' 'X805' 'X742' 'X843'
 'X640' 'X660' 'X762' 'X650' 'X789' 'X769' 'X808' 'X670' 'X849' 'X844'
 'X745' 'X686' 'X743' 'X712' 'X768' 'X728' 'X950' 'X764' 'X824' 'X809'
 'X748' 'X721' 'X706' 'X703' 'X655' 'X681' 'X737' 'X630' 'X799' 'X819'
 'X828' 'X639' 'X620' 'X678' 'X621' 'X629' 'Y204' 'X785' 'X784' 'X761'
 'X600' 'X724' 'X687' 'X818' 'X684' 'X648' 'X698' 'X669' 'X802' 'X814'
 'X658' 'X605' 'X642' 'Y200' 'X694' 'X839' 'X795' 'X829' 'X679' 'X848'
 'X688' 'X685' 'W180' 'X845' 'X695' 'Y004' 'Y049' 'O993' 'X747' 'X842'
 'X654' 'X652' 'X632' 'X746' 'X727' 'X793' 'X820' 'X641' 'X825' 'X798'
 'X625' 'X791' 'J960' 'X645' 'X741' 'X786' 'X801' 'Y199' 'X766' 'X611'
 'X750' 'X999' 'X910' 'X990' 'X738' 'W749' 'X420' 'Y209' 'X040' 'X691'
 'X623' 'X735' 'X644' 'F209' 'Y294' 'X697' 'X734' 'X717' 'X787' 'X609'
 'X696' 'X618' 'X836' 'X954' 'X821' 'K703' 'X959' 'X810' 'X615' 'X994'
 'X835' 'X779' 'X782' 'X822' 'Y217' 'X783' 'X847' 'X815' 'X624' 'K852'
 'J189' 'X647' 'X604' 'X602' 'X674' 'Y289' 'W080' 'X918' 'W799' 'Y205'
 'X838' 'W750' 'X832' 'V849' 'X781' 'Y349' 'X657' 'X770' 'X634' 'X480'
 'X765' 'W708' 'X628' 'W698' 'X599' 'Y240' 'X631' 'R99' 'V939' 'X608'
 'Y260' 'X672' 'X837' 'Y112' 'X751' 'X601' 'F142' 'X957' 'X662' 'Y870'
 'W767' 'H922' 'Y201' 'Y099' 'X767' 'X911' 'X759' 'X826' 'X841' 'Y218'
 'Y149' 'X651' 'X846' 'F102' 'X803' 'X807' 'I10' 'X998' 'X812' 'Y109'
 'D339' 'F192' 'Y159' 'W184' 'V490' 'X664' 'X489' 'V299' 'C710' 'X935'
 'W709' 'X758' 'X675' 'F152' 'X713' 'X424' 'K720' 'X726' 'X429' 'X934'
 'Y180' 'X723' 'X627' 'W760' 'I499' 'W139' 'X590' 'Y150' 'X099' 'W740'
 'W780' 'X683' 'Y124' 'X914' 'Y010' 'W169' 'Y309' 'W199' 'X693' 'Y120'
 'J81' 'X757' 'X754' 'F130' 'I251' 'X667' 'X731' 'X668' 'Y219' 'I119'
 'X955' 'W748' 'O96' 'X831' 'X459' 'X449' 'X646' 'W809' 'X930' 'X661'
 'W175' 'X487' 'X716' 'W800' 'I219' 'Y050' 'X732' 'W330' 'V499' 'Y190'
 'W349' 'V031' 'X421' 'X090' 'V234' 'X677' 'X617' 'X653' 'X755' 'X797'
 'X288' 'X499' 'I619' 'X450' 'X715' 'X958' 'X635' 'D259' 'I099' 'X410'
 'X452' 'X915' 'Y111' 'X643' 'O994' 'X919' 'V496' 'W209' 'Y044' 'W130'
 'F530' 'B171' 'X975' 'X080' 'X368' 'Y189' 'R961' 'Y269' 'X774' 'W730'
 'Y110' 'W840' 'W854' 'V059' 'X733' 'G409' 'F609' 'X777' 'J439' 'I427'
 'Y247' 'X665' 'V021' 'X752' 'V484' 'X448' 'W010' 'Y299' 'W777' 'P969'
 'X979' 'W189' 'N045' 'W680' 'X638' 'X464' 'Y140' 'F333' 'I678' 'M352'
 'Y471' 'X616' 'Y040' 'X490']

## Place of occurrence

In [14]:
unique_data_occurrence = df["LOCOCOR"].unique()
print(unique_data_occurrence)

['Via pública' 'Domicílio' 'Hospital' 'Outros' nan
 'Outro estabelecimento de saúde']

## Age

In [20]:
unique_data_age = df["age"].unique()
unique_data_age_sorted = sorted(unique_data_age)
print(unique_data_age_sorted)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, nan, 97.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 112.0, 113.0]

In [30]:
ages_between_0_and_3_years = df.query('age >= 0 and age <= 3')
ages_between_0_and_3_years

,Unnamed: 0,estado,ano,mes,DTOBITO,SEXO,RACACOR,CAUSABAS,LOCOCOR,age
4976,4977,GO,2010,10,2010-10-13,Feminino,Branca,W749,Outro estabelecimento de saúde,1.0
6692,6693,CE,2010,12,2010-12-04,Masculino,Branca,X709,Outros,3.0
13821,13822,AP,2011,11,2011-11-27,Feminino,Parda,Y349,Hospital,0.0
13855,13856,AP,2011,4,2011-04-12,Masculino,Parda,Y349,Outros,0.0
16163,16164,CE,2011,9,2011-09-25,Masculino,Parda,X599,Via pública,2.0
28785,28786,PR,2012,7,2012-07-05,Masculino,Branca,X489,Hospital,3.0
30316,30317,SP,2013,6,2013-06-08,Masculino,Branca,Y349,Domicílio,1.0
38993,38994,PR,2013,5,2013-05-06,Masculino,Parda,W780,Domicílio,0.0
40023,40024,SP,2014,7,2014-07-09,Masculino,Parda,W199,Hospital,2.0
40864,40865,SP,2014,2,2014-02-08,Masculino,Branca,Y199,Hospital,2.0
47681,47682,RN,2014,8,2014-08-15,Feminino,Parda,X449,Hospital,3.0
49443,49444,PB,2014,10,2014-10-11,Masculino,NaN,W809,Domicílio,0.0
67118,67119,AL,2016,2,2016-02-05,Masculino,Parda,X700,Hospital,0.0
88884,88885,PE,2018,10,2018-10-24,Masculino,Parda,W730,Domicílio,2.0
89844,89845,PA,2018,11,2018-11-01,Masculino,Parda,Y349,Via pública,0.0
103586,103587,AP,2019,5,2019-05-28,Feminino,Parda,P969,Via pública,0.0

In [31]:
ages_between_100_and_113_years = df.query('age >= 100 and age <= 113')
ages_between_100_and_113_years

,Unnamed: 0,estado,ano,mes,DTOBITO,SEXO,RACACOR,CAUSABAS,LOCOCOR,age
38216,38217,RS,2013,8,2013-08-27,Masculino,Preta,X700,Domicílio,101.0
38480,38481,RS,2013,1,2013-01-21,Masculino,Branca,X700,Domicílio,100.0
39217,39218,PB,2013,9,2013-09-24,Masculino,Parda,X709,Outros,101.0
43282,43283,MS,2014,6,2014-06-14,Masculino,Amarela,X740,Domicílio,101.0
51303,51304,SP,2015,4,2015-04-12,Masculino,Branca,X700,Domicílio,113.0
53993,53994,MG,2015,4,2015-04-17,Masculino,Branca,X800,Domicílio,100.0
56771,56772,BA,2015,2,2015-02-12,Masculino,Parda,X700,Domicílio,104.0
61135,61136,PE,2015,12,2015-12-01,Masculino,Parda,X708,Outros,100.0
63576,63577,TO,2016,7,2016-07-16,Masculino,Parda,X700,Domicílio,101.0
68524,68525,DF,2016,8,2016-08-31,Feminino,Branca,X708,Outros,100.0
69630,69631,RS,2016,7,2016-07-26,Masculino,Indígena,X700,Outros,101.0
75138,75139,SE,2017,8,2017-08-15,Masculino,Parda,X709,Outros,104.0
77809,77810,PA,2017,1,2017-01-15,Masculino,Parda,X700,Domicílio,104.0
81764,81765,RS,2017,8,2017-08-16,Masculino,Branca,X700,Domicílio,101.0
84539,84540,PE,2017,8,2017-08-24,Masculino,Branca,X708,Outros,112.0
84677,84678,RS,2017,6,2017-06-16,Masculino,Branca,X700,Domicílio,104.0
85966,85967,SP,2018,9,2018-09-13,Masculino,Branca,X700,Domicílio,100.0
89933,89934,PR,2018,1,2018-01-09,Masculino,Branca,X650,Domicílio,100.0
93562,93563,BA,2018,6,2018-06-26,Masculino,Preta,X700,Domicílio,103.0
97959,97960,MA,2018,5,2018-05-29,Masculino,Parda,X709,Domicílio,102.0
98305,98306,TO,2019,8,2019-08-15,Feminino,Preta,X824,Via pública,102.0